extend ../layout/shop-layout.pug

block style 
    link(rel="stylesheet", href="/style/shop.css")
    link(rel="stylesheet", href="/style/login.css" )

block content 

    if(errorMessage)
        div.user-message.user-message--error #{errorMessage}
    
    if(sucessMessage)
        div.user-message #{sucessMessage}
        
    div.book-gallery
            if prod.length > 0
                each product in prod
                    div.book-container
                        h1#book-title 
                            u #{product.title}
                        img#book-cover( src= '/' + product.imageUrl, alt="Book Cover")
                        h1#book-price 
                            em ₹ #{product.price}
                        p#book-author By:- #{product.author}
                        p#book-summary #{product.description}
                        
                        div#book-action-buttons
                            a(href = "/product-details/"+ product.id )
                                button#product-detials Detials
                                
                            form#form-cont(action= '/cart', method = 'post')
                                button#read-button(type = "submit") Add to cart
                                input(type="hidden", name = 'prodId', value = product.id)
                                input(type="hidden" name="_csrf" value= csrfToken)

            else 
                h1 No Products.
                
    section.pagination

        if(currPage !== 1 & previousPage !== 1)
            a.page(href = '?page=1') 1 

        if(hasPreviousPage)
            a.page(href = '?page=' + previousPage) #{previousPage}

        a.page.active(href = '?page=' + currPage) #{currPage}

        if(hasNextpage)
            a.page(href = `?page=`+ nextPage) #{nextPage}

        if(currPage !== lastPage && nextPage !== lastPage && lastPage !== 0)
            a.page(href = '?page=' + lastPage) #{lastPage}
            